
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    min-width:  400px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-optical-sizing: auto;
    font-style: normal;
}


.area-foto-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-principal {
    width: 100%;
    
}

.foto {
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.295), #000000),
        url("/assets/img/Alexandre.jpg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.text-foto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    flex-wrap: wrap;
    padding-bottom: 10%;
    
}

.text-foto h2 {
    padding-left: 30px;
    padding-bottom: 40px;
    height: 60px;
    color: #fff;   
}

/* ---------------------------------------------

*/

.pagina-principal{
    width: 100%;
    padding-top: 50px;
    position: relative;
    bottom: 1px;
    background-color: #000000;
}


.principal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.options{
    text-decoration: none;
    color: #fff;
    margin-top: 40px;
    border-bottom: 3px solid #000000;
    
}

.options:hover{
    border-bottom: 3px solid #fff;
}


/*--------------------------------------------------------------*/

.segundo-bloco{
    width: 100%;
    height: 10px;
    padding-top: 50px;
}

.frases-efeito{
    text-align: center;
    padding-bottom: 130px;
    
}

.fade-in{
    
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}



@media screen and (max-width: 767px) {
    #subtext{
        font-size: 15px;
    }

    .frases-efeito li{
        margin-top: 20px;
    }
}

@media screen and (max-width: 1269px) {
    .foto{
        height: 670px;
        background-size: cover;
    }

    .text-foto{
        font-size: 20px;
    }

    #subtext{
        font-size: 17px;
    }

    .frases-efeito li{
        margin-top: 140px;
        font-size: 1.6em;
    }
}


@media screen and (min-width: 1270px) {

    .foto{
        height: 100vh;
        background-size: cover;
        background-position: center 1px;

    }

    .text-foto{
        font-size: 30px;
    }

    #subtext{
        font-size: 17px;
    }

    .frases-efeito{
        font-size: 3.0em;
        
    }

    .frases-efeito li{
        margin-top: 160px;
    
    }
}

